/*homepage*/
   
#myheader {
    font-family: didot;
    margin-top: 200px;

}

#myheader h1 {
    Font-size: 90px;
    color: white;
    margin: 20px;
    text-align: center;
    text-shadow: 10px;
}

.otto {
    background-image: url(https://images.unsplash.com/photo-1693922876041-7fb22341f33a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1065&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-y: auto;
    overflow-x:hidden;
    height: 1400px;
} 

/* White div */.interface{
    background-color: white;
    height:1000px;
    background-position: center;
}
/* Brown div*/.blank{
    font-size: 30px;
    text-align: center;
    background-color: rgba(203,175,139);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-y: hidden;
    overflow-x:hidden;
    height:1000px;
}

#myheader h2 {
    border-color: black ;
    border-style: solid;
    padding: 10px;
    float: right;
    text-align: left;
}

#description {
    float: none;
    font-family: didot;
    text-indent: 12px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 150px;
    perspective: 20px;
}

/* index*/ nav ul {
    background-color: rgba(203,175,139);
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav ul li {
    text-align: center;
    display: inline;
}

nav li {
    padding: 25px;
}

nav {
position:fixed;
top:0;
left:0;
    font-size: 25px;
    text-align: center;
}


/* homepage css*/

/*contact css*/
#Info h2{
    display:block;
    padding:45px;
    color:black;
    border-color: black;
    border-width: 10px;
    font-family: didiot;
    font-size: 25px;
    float:right;
    margin: 150px;
}
#contact{

    font-size: 60px;
    text-align: center;
}
*{
    font-family: didot;
}

#contact h1{
    background-image: url(https://media.self.com/photos/622912847b959736301bfb91/4:3/w_960,c_limit/GettyImages-1301412050.jpg);

    color:white;
}
.parallax{
    background-image: none;
    background-color: white;

}
/*body element*/
.lore{
    background-color:whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height:100vh;
    overflow-y: auto;
    overflow-x:hidden;
}


img{

 width: 500px; 
 padding-top: 200px;
 display:inline-block;


}
/* all H2 elements*/
.meow{
    color:rgba(203,175,139);
    border-block-color: rgba(203,175,139);
    margin-top:200px;
font-size: 40px;
padding-left: 100px;
padding-right: 100px;
display:inline-block;

}
*{
    box-sizing:border-box;
  
}

/* about.html css*/
.container{
  margin-left: 50px;
  margin-top: 100px;
  padding-right: 30px;
  margin-right: 10px;
    font-family: didot;
    display: grid;
grid-template-columns:400px 400px 400px;
grid-template-rows: 200px 500px;
gap:50px;

padding-right: 100px;
box-shadow: 0 0 40px;
font-size: 29px;
padding-left: 20px;

}

.image{
    width:400px;
    grid-column: 1/2;
    grid-row:1/-1;
}

h2{
    color: rgba(203,175,139);
}
h1{
    background-image: url(https://media.self.com/photos/622912847b959736301bfb91/4:3/w_960,c_limit/GettyImages-1301412050.jpg);

    color:white;
    font-family: didot;
    font-size: 100px;
    text-align:center;
}
.line{
    margin-top: 400px;
    background-color: rgb(200, 175, 142);
    height: 55px;
    
    color:rgba(203,175,139);
}
.element2{
   align-content: space-around;
}
/*About.html css*/

/* projects css*/
.procontainer{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around ;
    margin-top: 100px;


}
.project-title{
    background-color: rgb(242,242,242);
 width:500px;
    text-align: center;
    border-width: 10px;
    margin-top: 25px;
    
}
.project-title a{
    text-decoration: none;
    color:black;
}
.project-title h4{
    color:rgba(203,175,139);
}
.project-title img{
    overflow-clip-margin: content-box;
    overflow: clip;
} 
section{
    background-color:rgb(34, 97, 200);
    padding:20px;
    text-align: center;
    margin-top: 100px;
margin-right: 100px;
margin-left:70px;
color:orange;
}
section a{
    text-decoration: none;
    color:aliceblue
}
.project-title p{
font-size: 20px;
}
.title{
    margin-top: 100px;
    color:white;
    font-size: 100px;
}
.sidebar{
    margin-top: 90px;
    float:left;
    display:list-item;
    position:sticky;
    display: block;
    padding-left: 0;
    background: none;
    z-index: 0;
    width: auto;
    height: auto;
    font-size: 30px;
    border-right:10cm;
    
}
.sidebar h4{
    font-size: 50px;
    color:purple;
}
.sidebar ul li a{
    text-decoration: none;
    color: purple;
    
}
.sidebar ul li{
    gap:100px;
}
.interface{
    background-color: white;
    height:1000px;
}